.taskContainer
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    max-width: 497px
    background-color: #1F2937
        
.buttonsContainer
    width: 100%
    max-width: 467px
    display: flex
    justify-content: space-between
    align-items: center 
    background-color: #1F2937
    h3
        margin-bottom: 0
    button
        background-color: transparent